
*{
    padding: 0px;
    margin: 0px;
}
#dimension{
     width: 100%;
    min-height: 100vh; 
    display: flex;
      flex-wrap: wrap; 
    justify-content: center;
    align-items: center; 
    /* padding: 15px; */
    background: #f2f2f2;
}
 #login-page{
    width: 390px;
    background: #fff;
     border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px; 
}
 #login-page h1{
    display: block;
    margin:auto;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
   
} 
#login-page img{
  display: block;
  margin: auto;
  padding: 2rem;
  margin-bottom: 3rem;
} 
.form-element{
    display: flex;
    flex-direction: column;
} 
.form-element input{
    display: block;
    margin: auto;
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    /* border: none; */
    margin-bottom: 2rem;
} 
.form-element label{
    width: 100%;
    font-size: 1.5rem;
    padding-bottom: 0.3rem;
    /* border: none; */
}
/* .form-button{
    display: flex;
    justify-content: center;    
} */
input[type='submit']{
   padding: 1rem;  
   width: 100%; 
   font-size: 1rem;
   border-radius: 1rem;
}
input[type='submit']:hover{
    background: chocolate;
 }

